* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}

.content {
  width: 100vw;
  height: 100vh;

  padding: 1rem;
  background-color: #fff;
}

#current {
  color: #000;
  font-weight: bold;
  border-bottom: 0.125rem solid #0000FF;
}

@media screen and (min-width: 62rem) {
  .content {
    max-width: 62rem;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
